*{
    padding: 0px;
    margin: 0px;
}

header{
    padding: 10px;
    background-color:rgb(23, 62,133);
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

header nav ul{
    list-style: none;
    margin-right: 5rem;
}

header nav ul li{
    padding: 5px;
    display: inline-block;
    margin: 20px;
    transition: all 2s;
}

header nav ul li:hover{
    transform: scale(1.5);
}

header nav ul li a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 5px 20px 5px 20px;
    font-family: 'Noto Sans', sans-serif;
}

header nav ul li a:hover{
    background-color: white;
    color: darkblue;
}

body{
    background-image: url("../img/fondoVideojuego.jpg");
    background-size: contain;
}

.container__noticias-ultimas-switch h1{
    text-align:left;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 0%;
    padding: 10px;
    width: 75%;
    color: white;
    font-size: 40px;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container__detalles-SW{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    font-family: 'Noto Sans', sans-serif;
    background-color: blanchedalmond;
    padding: 10px;
    width: 75%;
    border-bottom: 2px solid black;
}

.container__detalles-SW div{
    display: flex;
    flex-direction: column;
    margin:10px;
}

footer{
    position: absolute;
    margin-top: 20px;
    background-color:rgb(23, 62,133);
    width: 100%;
    text-align: center;
}

footer h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    background-color: black;
    color: white;
}

footer a{
    text-decoration: none;
    color:beige ;
    margin: 10px 22px 0 0;
    padding: 5px 20px 5px 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
}

.img1 {
    background-color: blanchedalmond;
    border: solid black;
}

.img2{
    background-color: blanchedalmond;
    border: solid black;
}

.img3{
    background-color: blanchedalmond;
    border: solid black;
}

.img4{
    background-color: blanchedalmond;
    border: solid black;
}

.img1 h3{
    margin: 0%;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.img2 h3{
    margin: 0%;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.img3 h3{
    margin: 0%;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.img4 h3{
    margin: 0%;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.img1 h4,p{
    padding: 5px;
    font-size: 15px;
}

.img2 h4,p{
    padding: 5px;
    font-size: 15px;
}

.img3 h4,p{
    padding: 5px;
    font-size: 15px;
}

.img4 h4,p{
    padding: 5px;
    font-size: 15px;
}

.cuadro{
    --bs-gutter-x:0px;
    margin-top: 50px;
}

@media (max-width:578px){
    header{
        padding: 10px;
        background-color:rgb(35,48,133);
    }
    
    header nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
    }
    
    header nav ul{
        list-style: none;
        margin-right: 10px;
    }
    
    header nav ul li{
        padding: 5px;
        display: inline-block;
    
    }
    
    header nav ul li a{
        text-decoration: none;
        background-color: black;
        color: white;
        font-size: 10px;
        padding: 5px 20px 5px 20px;
        font-family: 'Noto Sans', sans-serif;
    
    }
    
    body{
        background-image: url("../img/fondoVideojuego.jpg");
        background-size: contain;
    }
    
    .container__noticias-ultimas-switch h1{
        text-align:left;
        font-family: 'Noto Sans', sans-serif;
        margin-top: 5px;
        margin-left: 15px;
        padding: 10px;
        width: 75%;
        color: white;
        font-size: 40px;
        background-color: black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .container__detalles-SW{
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        font-family: 'Noto Sans', sans-serif;
        background-color: blanchedalmond;
        padding: 10px;
        width: 75%;
        border-bottom: 2px solid black;
    }
    
    .container__detalles-SW div{
        display: flex;
        flex-direction: column;
        margin:10px;
    }
    
    img{
        width: 100px;
        height: 100px;
    }

    footer{
        position: absolute;
        margin-top: 20px;
        background-color:rgb(23, 62,133);
        width: 100%;
        text-align: center;
    }
    
    footer h3{
        font-family: 'Noto Sans', sans-serif;
        font-size: 15px;
        background-color: black;
        color: white;
    }
    
    footer a{
        text-decoration: none;
        color:beige ;
        margin: 10px 22px 0 0;
        padding: 5px 20px 5px 20px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
    }

    footer a img{
        width: 25px;
        height: 25px;
    }
}

@media (min-width:579px) and (max-width:900px) {
    header{
        padding: 10px;
        background-color:rgb(35,48,133);
    }
    
    header nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
    }
    
    header nav ul{
        list-style: none;
        margin-right: 10px;
    }
    
    header nav ul li{
        padding: 5px;
        display: inline-block;
        margin: 5px;
    }
    
    header nav ul li a{
        text-decoration: none;
        background-color: black;
        color: white;
        font-size: 15px;
        padding: 5px 20px 5px 20px;
        font-family: 'Noto Sans', sans-serif;
    
    }
    
    body{
        background-image: url("../img/fondoVideojuego.jpg");
        background-size: contain;
    }
    
    .container__noticias-ultimas-switch h1{
        text-align:left;
        font-family: 'Noto Sans', sans-serif;
        margin-top: 5px;
        margin-left: 15px;
        padding: 10px;
        width: 75%;
        color: white;
        font-size: 40px;
        background-color: black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .container__detalles-SW{
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        font-family: 'Noto Sans', sans-serif;
        background-color: blanchedalmond;
        padding: 10px;
        width: 75%;
        border-bottom: 2px solid black;
    }
    
    .container__detalles-SW div{
        display: flex;
        flex-direction: column;
        margin:10px;
    }
    
    img{
        width: 200px;
        height: 200px;
    }

    footer{
        position: absolute;
        margin-top: 20px;
        background-color:rgb(23, 62,133);
        width: 100%;
        text-align: center;
    }
    
    footer h3{
        font-family: 'Noto Sans', sans-serif;
        font-size: 15px;
        background-color: black;
        color: white;
    }
    
    footer a{
        text-decoration: none;
        color:beige ;
        margin: 10px 22px 0 0;
        padding: 5px 20px 5px 20px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
    }

    footer a img{
        width: 25px;
        height: 25px;
    }
}